<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777401184430-9r6t81e169kg6k7f2b4g0ceve9ssk1mp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777401184430-9r6t81e169kg6k7f2b4g0ceve9ssk1mp</string>
	<key>API_KEY</key>
	<string>AIzaSyCZl-j6laocjcK2gqIaiWZW2-0WCavJ7O8</string>
	<key>GCM_SENDER_ID</key>
	<string>777401184430</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.niamuProject</string>
	<key>PROJECT_ID</key>
	<string>dp-project-graovac</string>
	<key>STORAGE_BUCKET</key>
	<string>dp-project-graovac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777401184430:ios:97207ad1feac2398677d3f</string>
</dict>
</plist>